.product{
    transition: box-shadow .3s;
    width: 300px;
    height: 400px;
    margin: 50px;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
     
}
.product:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    
  }
