name: Auth. Hdlr. Svc - Tests

on:
  push:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      working-directory: ./src/services/authentication_handler_service
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Restore Go cache
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - name: Start docker containers
        working-directory: ${{env.working-directory}}
        run:
          docker-compose -f docker-compose.dev.yaml -f docker-compose.jaeger.yaml config
          docker-compose -f docker-compose.dev.yaml -f docker-compose.jaeger.yaml up --remove-orphans --detach
      - name: Run unit, integration, and end to end tests
        working-directory: ${{env.working-directory}}
        run:
          go get github.com/mfridman/tparse
          go test -v -race ./... -json -cover  -coverprofile cover.out | tparse -all -top
      - name: Stop docker containers
        working-directory: ${{env.working-directory}}
        if: always()
        run: docker-compose -f docker-compose.dev.yaml -f docker-compose.jaeger.yaml down
      - name: Check if working tree is dirty
        run: |
          if [[ $(git diff --stat) != '' ]]; then
            echo 'run make test and commit changes'
            exit 1
          fi
      - name: Validate Helm chart
        uses: stefanprodan/kube-tools@v1
        with:
          kubectl: 1.19.11
          helm: 2.17.0
          helmv3: 3.6.0
          command: |
            helmv3 template ${{env.working-directory}}/charts/service | kubeval --strict --kubernetes-version 1.19.11 --schema-location https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master
      - name: Validate kustomization
        uses: stefanprodan/kube-tools@v1
        with:
          kubectl: 1.19.11
          command: |
            kustomize build ${{env.working-directory}}/kustomize | kubeval --strict --kubernetes-version 1.19.11 --schema-location https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master
            kustomize build ${{env.working-directory}}/kustomize | conftest test -p .github/policy -
